<p id="notice"><%= notice %></p>

<h1>Listing Information Collections</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Standard form indicator</th>
      <th>Obligation code</th>
      <th>Line of business</th>
      <th>Lob subfunction</th>
      <th>Affected public code</th>
      <th>Number responses</th>
      <th>Burden cost total</th>
      <th>Burden hour total</th>
      <th>Response frequency</th>
      <th>Cfr citations</th>
      <th>Information collection request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information_collections.each do |information_collection| %>
      <tr>
        <td><%= information_collection.title %></td>
        <td><%= information_collection.standard_form_indicator %></td>
        <td><%= information_collection.obligation_code %></td>
        <td><%= information_collection.line_of_business %></td>
        <td><%= information_collection.lob_subfunction %></td>
        <td><%= information_collection.affected_public_code %></td>
        <td><%= information_collection.number_responses %></td>
        <td><%= information_collection.burden_cost_total %></td>
        <td><%= information_collection.burden_hour_total %></td>
        <td><%= information_collection.response_frequency %></td>
        <td><%= information_collection.cfr_citations %></td>
        <td><%= information_collection.information_collection_request_id %></td>
        <td><%= link_to 'Show', information_collection %></td>
        <td><%= link_to 'Edit', edit_information_collection_path(information_collection) %></td>
        <td><%= link_to 'Destroy', information_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information collection', new_information_collection_path %>
