<p id="notice"><%= notice %></p>

<h1>Listing Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <% if agency.is_parent? %>
          <td style="font-weight: bold;"><%= agency.fullname %></td>
        <% else %>
          <td style="padding-left: 10px;"><%= agency.fullname %></td>
        <% end %>
        <td><%= agency.code %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
