<%= form_for(@information_collection_request) do |f| %>
  <% if @information_collection_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information_collection_request.errors.count, "error") %> prohibited this information_collection_request from being saved:</h2>

      <ul>
      <% @information_collection_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :agency_id %><br>
    <%= f.text_field :agency_id %>
  </div>
  <div class="field">
    <%= f.label :omb_control_number %><br>
    <%= f.text_field :omb_control_number %>
  </div>
  <div class="field">
    <%= f.label :icr_reference_number %><br>
    <%= f.text_field :icr_reference_number %>
  </div>
  <div class="field">
    <%= f.label :agency_code %><br>
    <%= f.text_field :agency_code %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract %>
  </div>
  <div class="field">
    <%= f.label :icr_type_code %><br>
    <%= f.text_field :icr_type_code %>
  </div>
  <div class="field">
    <%= f.label :expiration %><br>
    <%= f.date_select :expiration %>
  </div>
  <div class="field">
    <%= f.label :icr_status %><br>
    <%= f.text_field :icr_status %>
  </div>
  <div class="field">
    <%= f.label :stimulus_indicator %><br>
    <%= f.check_box :stimulus_indicator %>
  </div>
  <div class="field">
    <%= f.label :healthcare_indicator %><br>
    <%= f.check_box :healthcare_indicator %>
  </div>
  <div class="field">
    <%= f.label :dodd_frank_act_indicator %><br>
    <%= f.check_box :dodd_frank_act_indicator %>
  </div>
  <div class="field">
    <%= f.label :authorizing_statutes %><br>
    <%= f.text_area :authorizing_statutes %>
  </div>
  <div class="field">
    <%= f.label :burden_hour_total_quantity %><br>
    <%= f.number_field :burden_hour_total_quantity %>
  </div>
  <div class="field">
    <%= f.label :burden_hour_previous_total_quantity %><br>
    <%= f.number_field :burden_hour_previous_total_quantity %>
  </div>
  <div class="field">
    <%= f.label :burden_cost_total_amount %><br>
    <%= f.number_field :burden_cost_total_amount %>
  </div>
  <div class="field">
    <%= f.label :burden_cost_previous_total_amount %><br>
    <%= f.number_field :burden_cost_previous_total_amount %>
  </div>
  <div class="field">
    <%= f.label :burden_response_total_quantity %><br>
    <%= f.number_field :burden_response_total_quantity %>
  </div>
  <div class="field">
    <%= f.label :burden_response_previous_total_quantity %><br>
    <%= f.number_field :burden_response_previous_total_quantity %>
  </div>
  <div class="field">
    <%= f.label :oira_conclusion_response_concluded_date %><br>
    <%= f.date_select :oira_conclusion_response_concluded_date %>
  </div>
  <div class="field">
    <%= f.label :oira_conclusion_concluded_terms %><br>
    <%= f.text_area :oira_conclusion_concluded_terms %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
