<p id="notice"><%= notice %></p>

<h1>Listing Information Collection Requests</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Omb control number</th>
      <th>Icr reference number</th>
      <th>Agency code</th>
      <th>Title</th>
      <th>Abstract</th>
      <th>Icr type code</th>
      <th>Expiration</th>
      <th>Icr status</th>
      <th>Stimulus indicator</th>
      <th>Healthcare indicator</th>
      <th>Dodd frank act indicator</th>
      <th>Authorizing statutes</th>
      <th>Burden hour total quantity</th>
      <th>Burden hour previous total quantity</th>
      <th>Burden cost total amount</th>
      <th>Burden cost previous total amount</th>
      <th>Burden response total quantity</th>
      <th>Burden response previous total quantity</th>
      <th>Oira conclusion response concluded date</th>
      <th>Oira conclusion concluded terms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information_collection_requests.each do |information_collection_request| %>
      <tr>
        <td><%= information_collection_request.agency_id %></td>
        <td><%= information_collection_request.omb_control_number %></td>
        <td><%= information_collection_request.icr_reference_number %></td>
        <td><%= information_collection_request.agency_code %></td>
        <td><%= information_collection_request.title %></td>
        <td><%= information_collection_request.abstract %></td>
        <td><%= information_collection_request.icr_type_code %></td>
        <td><%= information_collection_request.expiration %></td>
        <td><%= information_collection_request.icr_status %></td>
        <td><%= information_collection_request.stimulus_indicator %></td>
        <td><%= information_collection_request.healthcare_indicator %></td>
        <td><%= information_collection_request.dodd_frank_act_indicator %></td>
        <td><%= information_collection_request.authorizing_statutes %></td>
        <td><%= information_collection_request.burden_hour_total_quantity %></td>
        <td><%= information_collection_request.burden_hour_previous_total_quantity %></td>
        <td><%= information_collection_request.burden_cost_total_amount %></td>
        <td><%= information_collection_request.burden_cost_previous_total_amount %></td>
        <td><%= information_collection_request.burden_response_total_quantity %></td>
        <td><%= information_collection_request.burden_response_previous_total_quantity %></td>
        <td><%= information_collection_request.oira_conclusion_response_concluded_date %></td>
        <td><%= information_collection_request.oira_conclusion_concluded_terms %></td>
        <td><%= link_to 'Show', information_collection_request %></td>
        <td><%= link_to 'Edit', edit_information_collection_request_path(information_collection_request) %></td>
        <td><%= link_to 'Destroy', information_collection_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information collection request', new_information_collection_request_path %>
